.accordion {
    width: 1450px;
    height: 1450px;
    display: block;
    margin: auto;
    padding: auto;
}

#carouselExampleDark {
    margin: auto;
    padding: auto;
    width: 960px;
    height: 540px;
    display: block;
}

#carouselExampleDark_one {
    margin: auto;
    padding: auto;
    width: 960px;
    height: 540px;
    display: block;
}

#carouselExampleDark_second {
    margin: auto;
    padding: auto;
    width: 960px;
    height: 720px;
    display: block;
}

#carouselExampleDark_three {
    margin: auto;
    padding: auto;
    width: 960px;
    height: 720px;
    display: block;
}

#carouselExampleDark_nast {
    margin: auto;
    padding: auto;
    width: 960px;
    height: 540px;
    display: block;
}

#carouselExampleDark_four {
    margin: auto;
    padding: auto;
    width: 960px;
    height: 540px;
    display: block;
}

#carouselExampleDark_olia {
    margin: auto;
    padding: auto;
    width: 960px;
    height: 540px;
    display: block;
}

#carouselExampleDark_sasha {
    margin: auto;
    padding: auto;
    width: 960px;
    height: 540px;
    display: block;
}

#carouselExampleDark_five {
    margin: auto;
    padding: auto;
    width: 960px;
    height: 540px;
    display: block;
}
